<body>
    <div class="row">
        <div class="col-md-12 center-pie">
            <div>
                <ngx-charts-pie-chart
                    [scheme]="colorScheme"
                    [animations]="false"
                    [results]="frequencyData"
                    [legend]="showLegend"
                    [explodeSlices]="explodeSlices"
                    [labels]="showLabels"
                    [doughnut]="doughnut"
                    [gradient]="gradient"
                    [tooltipDisabled]="tooltipDisabled"
                >
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            <div class="row">
                <div class="col-md-6" align="right">
                    Frequency:
                </div> 
                <div class="col-md-6" align="left">
                    {{freq}}
                </div> 
            </div>
            <div class="row">
                <div class="col-md-6" align="right">
                    Note:
                </div> 
                <div class="col-md-6" align="left">
                    {{note}}
                </div> 
            </div>
        </div>
    </div>
</body>